* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}
.container {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  /* border: 2px solid yellow; */
}

.container > button {
  cursor: pointer;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.82);
  font-size: 25px;
}

.container > button:hover {
  background-color: white;
}

.span_two {
  grid-column: span 2;
  padding: 25px;
}

.output {
  grid-column: 1/ -1;
  background-color: rgb(80, 80, 80);
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  /* word-wrap: break-word; */
  word-break: break-all;
}
.prev_number {
  font-size: 20px;
  color: rgb(154, 150, 150);
}
.current_number {
  font-size: 35px;
}
